@import '_normalize.scss';

$greenButton: #00a251;
$blueButton: #007ec4;
$lightGray: #EEE;
$lightBlue: rgba(8, 157, 227, .9);

h1{
	font-weight: 200;
	font-size: 28px;
}
h2{
	font-weight: 400;
	font-size: 20px;
	margin: 0;
}
.header{
	background: #016494;
	margin-bottom: 30px;
	position: fixed;
	width: 100%;
	z-index: 1000;
}
main, .header-wrapper{
	max-width: 1000px;
	margin: 0 auto;
}
.wrapper{
	padding-top: 90px;
}
.header-wrapper{
	position: relative;
	height: 60px;
	display: flex;
	justify-content: space-between;
}
.logo{
	margin: 0;
	display: inline-block;
}
.logout{
	cursor: pointer;
}
.main-navigation {
	display: inline-block;
	color: white;
	font-weight: 100;
	font-size: 15px;
	ul {
		list-style: none;
		display: flex;
		padding: 0;
	}
	li{
		height: 41px;
	}
	li + li {
		margin-left: 20px;
	}
	a {
		font-weight: 100;
		text-decoration: none;
		color: white;
		display: block;
		width: 100%;
	}
	.nav-item-selected{
		border-bottom: 4px solid #53b6f9;
	}
}
input:required, textarea:required{
	box-shadow: none;
}
.login{
	width: 350px;
	margin: 0 auto 50px auto;
	background: #f5f5f5;
	padding: 10px 20px;
	border: 1px solid #999999;
	position: relative;
	top: 100px;
	.at-error{
		p{
			color: red;
		}
	}
	.at-title{
		h3{
			font-size: 26px;
			font-weight: 300;
			text-align: center;
		}
	}
	.at-input{
		label{
			display: block;
			margin-top: 20px;
			margin-bottom: 5px;
		}
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			padding: 10px 10px 7px;
			width: 330px;
			/*font-style: italic;*/
			font-weight: 100;
		}
	}
	.wrap-btn, .at-signin-link, .at-signup-link{
		text-align: center;
	}
	.at-btn.submit{
		background: $blueButton;
		width: 150px;
		height: 35px;
		margin: 30px 0 10px 0 ;
		border: none;
		color: white;
		font-weight: 300;
		border-radius: 5px;
	}
}
.main-title{
	max-width: 680px;
	margin: 0 auto 20px auto;
}
.content-wrapper{
	padding: 20px;
	-webkit-box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.57);
	box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.57);
	max-width: 640px;
	margin: auto;
	margin-bottom: 50px;
	/*SCSS for admin page*/
	.wrap-search{
		display: flex;                  
		flex-direction: row;            
		flex-wrap: nowrap;              
		/*justify-content: space-between;*/
		margin-bottom: 20px;
		.search-user{
			width: 100%;
			input[type="text"]{
				padding: 10px 10px 7px;
				width: 100%;
				font-weight: 100;
			}
		}
		.search-icon{
			width: 4%;
			font-family: fontawesome;
			.fa-search{
				font-size: 26px;
				margin: 5px -5px 0 ;
			}
		}
	}
	table {
		font-size: 0.8em;
		width: 100%;
		position: relative;
		/*transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);*/
	    tr:nth-child(even) {
			background: #EEE;
		}
		td{
			padding: 0px 10px;
		}
		th{
			padding: 10px 10px;
			text-transform: uppercase;
			background: #05142b;
			color: #fff;
			text-align: center;
		}
		.middle-header{
			border-right: 1px solid white;
			border-left: 1px solid white;
		}
		.table-username, .table-admin{
			text-align: center;
		}
		.remove-admin, .make-admin{
			display: inline-block;
			padding: 5px;
			border-radius: 5px;
			color: white;
			width: 100px;
			cursor: pointer;
		}
		.role{
			padding: 12px;
			text-align: center;
		}
		.remove-admin{
			background: red;
		}
		.make-admin{
			background: $greenButton;
		}
	}

	/*CSS FOR ADD COURSE*/
	.wrap-add-course{
		p{
			margin: 30px 0 5px 0;
		}
		.file-wrapper {
			overflow: hidden;
			position: relative;
		}

		.file-wrapper [type=file] {
			cursor: inherit;
			display: block;
			filter: alpha(opacity=0);
			min-height: 100%;
			min-width: 100%;
			opacity: 0;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
		}
		.upload-csv{
			margin: -55px 0 50px 0;
			text-align: right;
			cursor: pointer;
			color: $blueButton;
		}
		input[type="text"], input[type="number"]{
			padding: 10px 10px 7px;
			min-width: 400px;
			font-weight: 100;
		}
		select{
			-webkit-appearance: button;
			-moz-appearance: none;
			-webkit-border-radius: 0px;
			-webkit-user-select: none;
			background-image: url(/arrow.png), -webkit-linear-gradient(#fff, #fff 40%, #fff);
			background-position: 97% center;
			background-repeat: no-repeat;
			border: 1px solid #ccc;
			overflow: hidden;
			padding: 5px 10px;
			width: 425px;
			height: 40px;
		}
		.search-input-add-course{
			width: 100%;
		}
		.search-icon{
			position: relative;
			max-width: 30px;
			left: 95%;
			font-size: 26px;
			margin: -55px 0px 30px 0;
		}
		textarea{
			width: 99%;
			border: 1px solid #ccc;
		}
		table{
			.p-remove-student{
				margin: 15px 0;
			}
			.remove-student{
				color: white;
				margin: 0px auto;
				cursor: pointer;
				background: red;
				padding: 5px;
				border-radius: 5px;
			}
		}
		.btn-submit{
			padding: 10px 20px;
			background: $blueButton;
			border-radius: 5px;
			border: none;
			color: white;
			font-weight: 300;
			display: block;
			margin: 20px 0 10px 0;
		}
		.btn-go-to-course{
			padding: 10px 20px;
			border-radius: 5px;
			border: none;
			color: white;
			font-weight: 300;
			background: #1ab394;
			margin: 20px 0 10px 30px;
			cursor: pointer;
		}
		#nameValidation, #yearValidation{
			display: none;
			color: red;
			margin-top: 10px;
		}
	}
	#course-added-message{
		display: none;
		position: fixed;
		bottom: 0;
		right: 0;
		opacity: .9;
		// z-index: 100;
		background-color: #1ab394;
		color: #FFF;
		padding: 20px 50px;
		margin: 20px 30px 30px 0;
		-moz-box-shadow: 0 0 3px #999;
		-webkit-box-shadow: 0 0 3px #999;
		box-shadow: 0 0 3px #999;
	}
}
.sweet-alert{
	h2{
		font-weight: 200;
	}
}
.btns-wrapper{
	width: 100%;
	display: flex;                  
	flex-direction: row;            
	flex-wrap: nowrap;              
	justify-content: center;
	margin-top: 20px;
	a{
		text-decoration: none;
		color: white;
		font-weight: 300;
	}
}
.btn-back, .btn-update, .btn-delete{
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	color: white;
	font-weight: 300;
	margin-right: 30px;
	margin: 20px 0 10px 30px !important;
}
.btn-back{
	background: #C1C1C1;
	margin: 20px 0 10px 0px !important;
}
.btn-update{
	background: $blueButton;
}
.btn-delete{
	background: red;
	cursor: pointer;
}
.wrap-search-course{
	max-width: 680px;
	margin: 0 auto 20px auto;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    margin-bottom: 20px;
	.search-course{
		width: 96.5%;
		.search-input{
			padding: 10px 10px 7px;
			width: 100%;
			font-weight: 100;
		}
	}
	.fa-search{
		font-size: 26px;
    	margin: 5px -5px 0;
	}
}
.my-courses{
	.my-courses-title-wrapper{
		display: flex;                  
		flex-direction: row;            
		flex-wrap: nowrap;              
		justify-content: space-between;
		border-bottom: 1px solid #e1e1e1;
		h1{
			color: $blueButton;
			margin-bottom: 10px;
			cursor: pointer;
		}
	}
	a{
		text-decoration: none;
	}
}


/*CSS FOR INDIVIDUAL COURSE*/
.course-wrapper{
	display: flex;
	flex-direction: row;
	margin-top: -30px;
	height: calc(100vh - 65px);
	border: 1px solid #eaeaea;
	p{
		font-size: 13px;
		margin: 0px;
	}
	.left, .right{
		width: 240px;
	}
	.left{
		overflow: auto;
		background: #edf5fc;
		.add-day{
			padding: 20px 10px 10px 10px;
			margin: 0px;
			cursor: pointer;
		}
		.lectures{
			padding: 20px 10px 10px 10px;
			margin: 0px;
			font-size: 17px;
		}
		#add-day-form{
			display: none;
		}
		input[type="text"]{
			font-size: 13px;
			padding: 6px 2px;
			margin-bottom: 14px;
		}
		.days-wrapper{
			.day{
				/*border-bottom: 1px solid #d9dbdd;*/
				border-top: 1px solid #d9dbdd;
				cursor: pointer;
				p{
					margin: 0px;
					padding: 10px 10px;
				}
			}
			.selected{
				border-left: 5px solid #53b6f9;
				background: #f7f7f7;
				p{
					padding-left: 5px;
				}
			}
		}
	}
	.middle{
		width: 98%;
		background: #f7f7f7;
		padding: 0 15px 20px 15px;
		overflow: auto;

		h1{
			margin-top: 20px;
			font-size: 24px;
			margin-bottom: 5px;
		}
		p:first-of-type{
			color: #717272;
			font-size: 15px;
		}
		.edit-day, .delete-day{
			cursor: pointer;
		}
		.edit-day:hover{
			color: black;
		}
		.delete-day:hover{
			color: red;
		}
		#edit-day-form{
			display: none;
		}
		#editDay{
			font-size: 13px;
			padding: 5px;
			width: 97%;
		}
		#add-code-form-wrapper{
			display: none;
		}
		.course-title-wrapper{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.add-code{
				p{
					background: $greenButton;
					color: white;
					margin-top: 30px;
					padding: 5px 10px;
					border-radius: 10px;
					cursor: pointer;
				}
			}
		}
		.code-wrapper{
			padding: 20px;
			-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.57);
			-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.57);
			box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.57);
			margin-top: 30px;
			.code-title{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				border-bottom: 1px solid #e1e1e1;
				height: 30px;
				h2{
					margin: 0 0 5px 0;
				}
				.fa-pencil{
					font-size: 20px;
					margin-right: 25px;
					margin-top: -20px;
				}
			}
			.code {
				max-width: 600px;
				overflow: auto;
				height: 300px;
				position: relative; /* Position must be: relative, absolute or fixed */
				pre{
					font-size: 14px;
				}
			}
			#add-code-form, .snippet-edit{
				p{
					color: black;
					font-size: 14px;
					padding-bottom: 10px;
				}
				input[type="text"]{
					width: 100%;
					padding: 5px 0;
					margin-bottom: 20px;
				}
				textarea{
					width: 100%;
					border: 1px solid #ccc;
				}
				.btn-submit{
					display: block;
					background: $blueButton;
					width: 150px;
					height: 35px;
					margin: 10px auto 0 auto ;
					border: none;
					color: white;
					font-weight: 300;
					border-radius: 5px;
					font-size: 14px;
				}
				.delete-snippet{
					color: white;
					font-weight: 300;
					font-size: 16px;
				}
			}
		}
	}
	.fix-padding-chat{
		width: 267px;
	}
	.right{
		height: 100%;
		position: relative;
		.wrap-chat-people{
			position: absolute;
			left: 180px;
			#chat-toggle, #people-toggle{
				font-size: 22px;
				padding: 4px 0;
				cursor: pointer;
			}
			#people-helper-text, #chat-helper-text{
				position: absolute;
				display: block;
				font-size: 13px;
				text-align: right;
				right: 20px;
				padding: 5px;
				border-radius: 5px;
				display: none;
				background: white;
				-webkit-box-shadow: 1px 0px 6px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 1px 0px 6px 0px rgba(0,0,0,0.75);
				box-shadow: 1px 0px 6px 0px rgba(0,0,0,0.75);
			}
			#people-helper-text{
				top: 50px;
				width: 180px;
			}
			#chat-helper-text{
				top: 15px;
				width: 130px;
			}
		}
		#chat, #people{
			height: 100%;
			width: 174px !important;
		}
		#people{
			display: none;
			.online-list{
				padding: 10px 0;
				p{	
					padding: 5px 10px;
					display: block;
					.fa-circle{
						font-size: 10px;
						color: limegreen;
					}
				}
			}
		}
		.chat-title-wrapper{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 30px;
			border-bottom: 1px solid #e1e1e1;
			h2{
				padding: 0 0 5px 10px;
			}
			.fa-comments{
				padding-right: 10px;
				font-size: 20px;
			}
			/* The switch - the box around the slider */
			.switch {
				position: relative;
				display: inline-block;
				width: 50px;
				height: 24px;
				margin-right: 5px;
			}

			/* Hide default HTML checkbox */
			.switch input {display:none;}

			/* The slider */
			.slider {
				position: absolute;
				z-index: -10;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				-webkit-transition: .4s;
				transition: .4s;
			}

			.slider:before {
				position: absolute;
				content: "";
				height: 16px;
				width: 16px;
				left: 4px;
				bottom: 4px;
				background-color: white;
				-webkit-transition: .4s;
				transition: .4s;
			}

			input:checked + .slider {
				background-color: #2196F3;
			}

			input:focus + .slider {
				box-shadow: 0 0 1px #2196F3;
			}

			input:checked + .slider:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}

			/* Rounded sliders */
			.slider.round {
				border-radius: 34px;
			}

			.slider.round:before {
				border-radius: 50%;
			}
		}
		.messages-wrapper{
			height: calc(100% - 110px);
			// position: relative;
			overflow-y: overlay;
			background: white;
			padding:10px;
			.chat-message{
				background-color: $lightGray;
				padding: 10px;
				border-radius: 10px;
				display: inline-block;
				margin-bottom: 5px;
			}
			.chat-message::first-letter{
				text-transform: uppercase;
			}
			.own-message{
				color: white;
				background-color: $lightBlue;
				text-align: right;
				float: right;
			}
		}
		.new-message input{
			padding: 5px;
			margin-top: 3px;
			font-size: 13px;
			width: 160px;
		}
	}
}
#csv-helper{
	color: grey;
	text-decoration: none;
}
#csv-helper-text{
	display: none;
	width: 450px;
	position: absolute;
	left: 387px;
	top: -35px;
	background: lightgray;
	z-index: 110;
	padding: 10px;
	-webkit-box-shadow: 1px 0px 6px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 0px 6px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 0px 6px 0px rgba(0,0,0,0.75);
	p, pre{
		margin: 0;
	}
}
#csv-helper-text:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-bottom: 12px solid lightgray;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  top: -10px;
  z-index: 111;
}

.fa-pencil{
	cursor: pointer;
	font-size: 25px;
	padding-top: 20px;
	color: #666666;
}
.fa-plus-circle{
	color: $greenButton;
	font-size: 20px;
}
.fa-times{
	display: block;
	text-align: right;
	margin-bottom: -10px;
}
.single-snippet-wrapper{
	position: relative;
}
.editor {
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}